//They Perished
@font-face {
  font-family: 'They Perished';
  src: url('~/assets/fonts/theyperished.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//Midnight Terror
@font-face {
  font-family: 'Midnight Terror';
  src: url('~/assets/fonts/midnightterror.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//Dead Walking
@font-face {
  font-family: 'Dead Walking';
  src: url('~/assets/fonts/deadwalking.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}